@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: 6 116 219;
    --secondary-color: 210 210 212;
    --disabled-color: 114 114 115;
    --highlight-color: 22 53 77;

    --bg-image-main: url("/assets/backgrounds/bg-main-dark-800w.jpg");
    --bg-image-main-curves: url("/assets/backgrounds/bg-main-dark.svg");
    --bg-image-subtle: url("/assets/backgrounds/bg-subtle-dark-800w.jpg");
    --bg-image-footer: url("/assets/backgrounds/bg-footer-dark-800w.jpg");
    --bg-image-aspect-ratio: 2.25;
    --bg-scale: 1.68;
    --bg-gradient-size: calc(var(--bg-scale) * 100%);

    letter-spacing: 0.01em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  #home {
    font-family: var(--font-rubik);
  }

  body {
    font-family: var(--font-public-sans);
  }

  html {
    @apply scroll-smooth;
  }

  p,
  li,
  pre {
    @apply text-base/7 md:text-lg/7 lg:text-xl/8;
  }

  @media (min-width: 50em) {
    :root {
      --bg-scale: 1;
      --bg-image-main: url("/assets/backgrounds/bg-main-dark-1440w.jpg");
      --bg-image-subtle: url("/assets/backgrounds/bg-subtle-dark-1440w.jpg");
      --bg-image-footer: url("/assets/backgrounds/bg-footer-dark-1440w.jpg");
    }
  }

  .backgrounds {
    /* min-height: 100%; */
    isolation: isolate;
    background:
      /*footer*/
      var(--bg-image-footer) bottom center/var(--bg-gradient-size) no-repeat,
      /*header1*/ var(--bg-image-main-curves) top center/var(--bg-gradient-size)
        no-repeat,
      /*header2*/ var(--bg-image-main) top center/var(--bg-gradient-size)
        no-repeat,
      /*center */ var(--bg-image-subtle) center/var(--bg-gradient-size)
        no-repeat;
  }
}
