@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: 6 128 239;
    --secondary-color: 210 210 212;
    --disabled-color: 114 114 115;
    --highlight-color: 22 53 77;
    background: url("/bg.webp") top center no-repeat;
    background-color: rgb(18 18 18);
  }

  html {
    @apply scroll-smooth;
  }
}
